
<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Brac Bank Ltd.</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

</head>
<body>		

    <!-- bg img -->
    <div class="container">
      <div class="row" style="position: fixed;">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <!-- background image -->
        <div class="ff center" style="opacity: .1;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhQ2QsaxV0InOuMHOhBEx6Ba0bo81Xxcf_qw&usqp=CAU" style="width: 20em; margin-left: 13em; margin-top: 82%; opacity: .5">
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    </div>


		<!-- <div class="container" style="background-color: beige;">
			<div class="row">
				<div class="col-lg-1">
					<div>
						<img src="https://media-exp1.licdn.com/dms/image/C510BAQFW_muf1Rj66Q/company-logo_200_200/0/1561036645611?e=2159024400&v=beta&t=xqCRMgTUR7dEt6kGE56x88FvH6V09z6GSw8c8rNIteg" style="width: 90%; border-radius: 3em; margin-top: 6%; margin-bottom: 9%;">
					</div>
				</div>
				<div class="col-lg-11">
					<div>
						<h4 style="margin-top: 2%; color: #145A32">National Bank Ltd.</h4>
					</div>
				</div>
			</div>
		</div> -->
    <div class="container pl-0 pr-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#" style="color: #145A32"><img src="https://media-exp1.licdn.com/dms/image/C510BAQFW_muf1Rj66Q/company-logo_200_200/0/1561036645611?e=2159024400&v=beta&t=xqCRMgTUR7dEt6kGE56x88FvH6V09z6GSw8c8rNIteg" style="width: 13%; border-radius: 3em;">&nbsp; National Bank Ltd</a>

          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                Account Name
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" style="color: #229954">ATI Ltd.</a>
                <a class="dropdown-item" href="#" style="color: #229954">Drug International Ltd.</a>
                <a class="dropdown-item" href="#" style="color: #229954">Keya Mart Ltd</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                Bank Name
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" style="color: #229954">Brac Bank Limited</a>
                <a class="dropdown-item" href="#" style="color: #229954">Islami Bank Limited</a>
                <a class="dropdown-item" href="#" style="color: #229954">City Bank Limited</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                Branch Name
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" style="color: #229954">Dhanmondi Branch</a>
                <a class="dropdown-item" href="#" style="color: #229954">Gulshan Branch</a>
                <a class="dropdown-item" href="#" style="color: #229954">Uttara Branch</a>
              </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
           <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </nav>    
    </div>

		<div class="container">
			<div class="row">
				<div class="col-lg-2 pl-0" style="background-coor: beige;">
					<table class="table table-hover" >
            <tbody>
              <tr>
                <td><a href="#founder" style="color: #145A32; text-decoration: none; font-family:   Muli,sans-serif;">Paid Records</a></td>
              </tr>
              <tr>
                <td><a href="#md" style="color: #145A32; text-decoration: none; font-family:   Muli,sans-serif;">Fund</a></td>
              </tr>
              <tr>
                <td>
                  <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: #145A32; font-family:   Muli,sans-serif;">Cheque Records</a>
                </td>
              </tr>
              <tr>
                <td>
                <div id="collapseOne" class="collapse">
                  <div class="body">
                    <p><a href="#day" style="text-decoration: none; margin-left: 12%; color: #145A32">Day Wise</a></p>
                    <p><a href="#month" style="text-decoration: none; margin-left: 12%; color: #145A32">Month Wise</a></p>
                  </div>
                </div>
                </td>
              </tr>                              
            </tbody>
          </table>                   
				</div>

				<div class="col-lg-10">
          <div>
            <br>
            <h5 style="text-align: center; color: seagreen; opacity: .9">Cheque Input Form</h5>
          </div> 
          <div class="row" style="margin-top: 6%; margin-left: 5%">
            <div class="col-lg-4">
              <div>
                <p>Pay To</p>
                <input type="text" name="name">
              </div>
              <br>
              <div>
                <p>Acount No.</p>
                <input type="text" name="name">
              </div>
            </div>
            <div class="col-lg-4">
              <div>
                <p>Sum of Amount</p>
                <input type="number" name="amount">
              </div>
            </div>
            <div class="col-lg-4">
              <div>
                <p>TK</p>
                <input type="number" name="number">
              </div>
            </div>
          </div>
          <br><br>
          <button type="button" class="btn btn-success" style="margin-left: 7%; opacity: .9">Save Info</button>   
        </div>
			</div>
		</div>
<br><br><br><br>

    <footer class="container mt-5">
      <div style="background-color: #52BE80">
        <p style="color: white; text-align: center; padding-top: 1%; padding-bottom: 1%">@Created By - </p>
      </div>
    </footer>


    <!-- dropdown script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- dropdown script -->
    <script>
        $(document).ready(function () {
        $('.navbar .dropdown').hover(function () {
            $(this).find('.dropdown-menu').first().stop(true, true).slideDown(150);
        }, function () {
            $(this).find('.dropdown-menu').first().stop(true, true).slideUp(105)
        });
    });
  </script>

</body>
</html>